<script type="text/javascript" src="/js/interface.js"></script>
<style type="text/css" media="screen">
#slideShow1
{
	width: 95%;
	height: 350px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #fff;
	margin: 10px;
}
.pagelinks a
{
	font-weight: bold;
	color: #666;
}
.slideCaption
{
	background-color: #FFFFCC;
	padding: 4px;
	text-align: center;
	font-weight: bold;
}
.pagelinks a.activeSlide
{
	color: #f90;
}
/* this is for IE so the prev/next links can be hovered*/
.nextSlide,.prevSlide
{
	background-image: url(/img/spacer.gif);
}
.nextSlide:hover
{
	background-image: url(img/nextslide.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.prevSlide:hover
{
	background-image: url(img/prevslide.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.inputsTooltip
{
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 4px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
}
#tooltipURL
{
	display: none;
}
</style>
<h3>ようこそ!</h3>
<div class="boxContent">
	<p>ESTATE-PROTOはGoogle App Engine上で動作する個人情報管理データベースです。</p>
	<h4>始め方</h4>
	<div id="slideShow1">
		<!-- img src="images/panda/Emotion.jpg" alt="Panda Emotion" title="Panda Emotion" / -->
	</div>
<script type="text/javascript">
$(document).ready(
	function()
	{
		$.slideshow(
			{
				container : 'slideShow1',
				loader: '/img/slideshow_loader.gif',
				linksPosition: 'bottom',
				linksClass: 'pagelinks',
				linksSeparator : ' | ',
				fadeDuration : 100,
				activeLinkClass: 'activeSlide',
				nextslideClass: 'nextSlide',
				prevslideClass: 'prevSlide',
				captionPosition: 'top',
				captionClass: 'slideCaption',
				autoplay: 0,
				random: false,
				images : [
					{
						src: '/img/doc/step1.png',
						caption: 'ファイルメニューから「新規データベース」を選択してデータベースを作成します'
					},
					{
						src: '/img/doc/step2.png',
						caption: '作成したデータベースのフォルダーを右クリックして「ビューの追加」を選択してください'
					},
					{
						src: '/img/doc/step4.png',
						caption: '<b>ビュー</b>をクリックしてください。データの追加、削除、検索などが行えます'
					}
				]
			}
		)
		$('a').ToolTip(
			{
				className: 'inputsTooltip',
				position: 'mouse'
			}
		);
	}
);
</script>
</div>
