{% extends "../moview.html" %}
{% block title %}お問い合わせ | Moview {% endblock %}
{% block menu %}
<a href="/contact">【お問い合わせ】</a>
{% endblock %}
{% block bread_clumbs %}
ヘルプ
{% endblock %}

{% block page %}
  <div id="main_02">

    <div class="box_title_4">ヘルプ</div>	
    <div class="helpbox_q1">Qここに質問内容がはいります。ここに質問内容がはいります。</div>
	<div class="helpbox_a1">ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。</div>
	
	<div class="helpbox_q1">Qここに質問内容がはいります。ここに質問内容がはいります。</div>
	<div class="helpbox_a1">ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。</div>
	
	<div class="helpbox_q1">Qここに質問内容がはいります。ここに質問内容がはいります。</div>

	<div class="helpbox_a1">ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。</div>
	
	<div class="helpbox_q1">Qここに質問内容がはいります。ここに質問内容がはいります。</div>
	<div class="helpbox_a1">ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。ここに回答が表示されます。</div>

  </div>

{% endblock %}
