{% extends "../standardized.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/flexigrid/flexigrid.css" type="text/css" media="all">
<link type="text/css"  href="/css/jquery.treeview.css" rel="stylesheet" />
<link type="text/css"  href="/css/jquery.contextMenu.css" rel="stylesheet" />
<link type="text/css" href="/css/niceforms/niceforms-default.css" rel="stylesheet" media="screen"/>
<style>
        .flexigrid div.fbutton .add
            {
                background: url(/img/add.png) no-repeat center left;
            }	
    
        .flexigrid div.fbutton .delete
            {
                background: url(/img/close.png) no-repeat center left;
            }	
    
</style>
{% endblock %}
{% block js %}
<script src="/js/jquery-1.2.6.pack.js" type="text/javascript"></script>
<script src="/js/jquery.form.js" type="text/javascript"></script>
<script src="/js/flexigrid.pack.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.async.js" type="text/javascript"></script>
<script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/nicejforms.js"></script>

<script type="text/javascript"><!--
$(document).ready(function(){
	//$.NiceJForms.build({
	//	imagesPath:"/css/niceforms/images/default/"
	//});
        //$(".close_form").click(function(){
        //        $.unblockUI();
        //});
	$("#treeview").load('/groups/treeview',function(){
		$(this).treeview({});
		$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
		$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
	});
	$("#flexigrid01").flexigrid({
			url: '/profile',
			dataType: 'json',
			procmsg: '読み込んでいます。しばらくお待ちください..',
			pagestat: '全 {total} 件のうち、{from} - {to} 件目を表示中',
			colModel : [
				{display: 'ID',       name : 'id', width : 40, sortable : true, align: 'center'},
				{display: '会社/団体名', name : 'organization', width : 180, sortable : true, align: 'left'},
				{display: '所属/部署', name : 'section', width : 100, sortable : true, align: 'left'},
				{display: '担当者', name : 'last_name', width : 90, sortable : true, align: 'left'},
				{display: '役職',   name : 'title', width : 80, sortable : true, align: 'left'},
				{display: '電話番号',   name : 'tel_no', width : 120, sortable : true, align: 'left'},
				{display: '電子メール',   name : 'email', width : 180, sortable : true, align: 'left'},
				{display: '購入パッケージ',   name : 'packages', width : 180, sortable : true, align: 'left'},
				],
			buttons : [
				{name: '追加', bclass: 'add', onpress : dummy},
				{name: '削除', bclass: 'delete', onpress : dummy},
				{separator: true},
				{name: '編集', bclass: 'edit', onpress : dummy}
				],
			searchitems : [
				{display: 'ID', name : 'id',is_default: true},
				],
			sortname: "id",
			sortorder: "asc",
			usepager: true,
			title: '顧客一覧',
			useRp: true,
			rp: 15,
			showTableToggleBtn: true,
			width: 'auto',
			height:'auto' 
	});
});
function dummy(){}
function initFileContextMenu(action,el,pos){
	var id = $(el).attr('id').slice(2)
	if( action=="delete" ) {
		var url = '/view/delete'
		if( confirm($(el).text() +'を本当に削除しますか？') != true ){
			return;
		}else{  
			$.blockUI({ message: "<b>少々お待ちください...</b>" });
			$.ajax({
			   type: "POST",
			   dataType: "json",
			   url: url,
			   data: 'id=' + id,
			   success: function(data){
                        	$.unblockUI();
				$("#treeview").load('/groups/treeview',function(){
					$(this).treeview({});
					$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
					$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
				});
			   },
			   error: function(){
				alert('delete システムエラー');
			   }
			 });
		}
	}else if( action =="edit"){
   		url = '/view/edit?id=' + id
		$("#called_by_treeview").html('');
		$('#called_by_treeview').load(url,function(text,status){
			$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
			$(".close_form").click(function(){ $.unblockUI(); });
			//var max = 0;
			//$("#called_by_treeview label").each(function(){
			//	if ($(this).width() > max)
			//	max = $(this).width();
			//});
			//$("#called_by_treeview label").width(max + 10);
			$.blockUI({ message: $('#called_by_treeview'),css: { top: '10%',width: '400px' } })
		});
	}
}
function init_treeview(){
	$("#treeview").load('/groups/treeview',function(){
		$(this).treeview({});
		$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
		$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
	});
}
function update_view(){
	$.blockUI({ message: "<b>少々お待ちください...</b>" });
	$.ajax({
	   async:false,
	   type: "POST",
	   url: '/view/update',
	   data: $('#called_by_treeview form').serialize(),
	   success: function(data){
		$('#called_by_treeview').html(data)
		$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
		$.blockUI({ message: $('#called_by_treeview'),css: { top: '10%',width: '400px' } })
		$(".close_form").click(function(){ $.unblockUI(); });
		init_treeview()
	   },
	   error: function(){
		alert('update システムエラー');
	   }
	});
}
function update_user_db(){
	$.blockUI({ message: "<b>少々お待ちください...</b>" });
	$.ajax({
	   type: "POST",
	   dataType: "json",
	   url: '/groups/update',
	   data: 'id='+$('#edit_category_id').val() +  '&name=' + $('#edit_category_name').val(),
	   success: function(data){
		$.unblockUI();
		init_treeview()
	   },
	   error: function(){
		alert('update システムエラー');
	   }
	});
}
function initContextMenu(action,el,pos){
                var id = $(el).attr('id').slice(2)
                if( action == 'addview' ){
			$.blockUI({ message: "<b>少々お待ちください...</b>" });
			$.ajax({
			   type: "POST",
			   dataType: "json",
			   url: '/view/create',
			   data: 'db_id='+ id,
			   success: function(data){
				if( data.status == 'error' ){
					alert(data.msg);
				}
				$.unblockUI();
				if( data.status == 'success' ){
					init_treeview();
				}
			   },
			   error: function(data){
				alert('system error');
				$.unblockUI();
			  }
			 });
                }else if( action == 'edit' ){
                        var url = '/groups/edit?id='+id
			$('#called_by_treeview').load(url,function(text,status){
				$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
				$(".close_form").click(function(){ $.unblockUI(); });
			});
			$.blockUI({ message: $('#called_by_treeview'),css: { top: '10%',width: '400px' } })
                }else if( action=="delete" ) {
                        var url = '/groups/delete'
                        if( confirm($(el).text() +'(ID:' + $(el).attr('id')+ ')を本当に削除しますか？') != true ){
                                return;
                        }else{  
				$.blockUI({ message: "<b>少々お待ちください...</b>" });
                                $.ajax({
                                   type: "POST",
                                   dataType: "json",
                                   url: url,
                                   data: 'id=' + id,
                                   success: function(data){
					$.unblockUI();
					$("#treeview").load('/groups/treeview',function(){
						$(this).treeview({});
						$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
						$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
					});
                                   },
                                   error: function(){
                                        alert('delete システムエラー');
                                   }
                                 });
                        }
                }else{  
                        alert(  
                                'Action: ' + action + '\n\n' +
                                'Element ID: ' + $(el).attr('id') + '\n\n' +
                                'X: ' + pos.x + '  Y: ' + pos.y + ' (relative to element)\n\n' +
                                'X: ' + pos.docX + '  Y: ' + pos.docY+ ' (relative to document)'
                        );
                }
        
}
// --></script>
{% endblock %}

{% block search_refinement %}
<div >
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			<a href="#">aaaaa</a><br/>
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
</div>
<br clear="all">
{% endblock %}
{% block _search_refinement %}
<table width="100%" id="search" border="1">
	<thead>
	<tr><th width="33%">項目1</th><th width="33%">項目2</th><th width="33%">項目3</th></tr>
	</thead>
	<tbody>
	<tr>
		<td>
<div style="margin:0;height:100;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			<a href="#">aaaaa</a><br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
		</td>
		<td>値
		</td>
		<td>値
		</td>
	</tr>
	</tbody>
</table>
{% endblock %}
{% block treeview %}
	<ul id="myFileMenu" class="contextMenu">
		<li class="edit separator"><a href="#edit">編集</a></li>
		<li class="delete"><a href="#delete">削除</a></li>
	</ul>
	<ul id="myMenu" class="contextMenu">
		<li class="add"><a href="#addview">ビューの追加</a></li>
		<li class="edit separator"><a href="#edit">編集</a></li>
		<li class="delete"><a href="#delete">削除</a></li>
	</ul>
	<ul id="treeview" class="filetree treeview"></ul>
	<div id="called_by_treeview" style="margin:1em;display:none; cursor: default">
	</div>
{% endblock %}
