{% extends "../standardized.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/flexigrid/flexigrid.css" type="text/css" media="all">
<link type="text/css"  href="/css/jquery.treeview.css" rel="stylesheet" />
<link type="text/css"  href="/css/jquery.contextMenu.css" rel="stylesheet" />
<style>
        .flexigrid div.fbutton .add
            {
                background: url(/img/add.png) no-repeat center left;
            }	
    
        .flexigrid div.fbutton .delete
            {
                background: url(/img/close.png) no-repeat center left;
            }	
    
</style>
{% endblock %}
{% block js %}
<script src="/js/jquery-1.2.6.pack.js" type="text/javascript"></script>
<script src="/js/jquery.form.js" type="text/javascript"></script>
<script src="/js/flexigrid.pack.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.async.js" type="text/javascript"></script>
<script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
<script type="text/javascript"><!--
$(document).ready(function(){
	$("#treeview").treeview({});
	$("#treeviewList span").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
	$("#category_root").disableContextMenu()
	$("#category_root_file").disableContextMenu()
	$("#flexigrid01").flexigrid({
			url: '/profile',
			dataType: 'json',
			procmsg: '読み込んでいます。しばらくお待ちください..',
			pagestat: '全 {total} 件のうち、{from} - {to} 件目を表示中',
			colModel : [
				{display: 'ID',       name : 'id', width : 40, sortable : true, align: 'center'},
				{display: '会社/団体名', name : 'organization', width : 180, sortable : true, align: 'left'},
				{display: '所属/部署', name : 'section', width : 100, sortable : true, align: 'left'},
				{display: '担当者', name : 'last_name', width : 90, sortable : true, align: 'left'},
				{display: '役職',   name : 'title', width : 80, sortable : true, align: 'left'},
				{display: '電話番号',   name : 'tel_no', width : 120, sortable : true, align: 'left'},
				{display: '電子メール',   name : 'email', width : 180, sortable : true, align: 'left'},
				{display: '購入パッケージ',   name : 'packages', width : 180, sortable : true, align: 'left'},
				],
			buttons : [
				{name: '追加', bclass: 'add', onpress : dummy},
				{name: '削除', bclass: 'delete', onpress : dummy},
				{separator: true},
				{name: '編集', bclass: 'edit', onpress : dummy}
				],
			searchitems : [
				{display: 'ID', name : 'id',is_default: true},
				],
			sortname: "id",
			sortorder: "asc",
			usepager: true,
			title: '顧客一覧',
			useRp: true,
			rp: 15,
			showTableToggleBtn: true,
			width: 'auto',
			height:'auto' 
	});


        $("#edit_category_anchor").click(function(){
		$('#edit_category_id').val('2')
		$.blockUI({ message: $('#edit_category'),css: { top: '40%',width: '400px' } })
	});
        $("#edit_category_submit").click(function(){
                $.blockUI({ message: "<b>少々お待ちください...</b>" });
                $.ajax({
                   type: "POST",
                   dataType: "json",
                   url: '/groups/update',
                   data: 'id='+$('#edit_category_id').val() +  '&name=' + $('#edit_category_name').val(),
                   success: function(data){
                        $.unblockUI();
			location.reload()
                   },
                   error: function(){
                        alert('update システムエラー');
                  }
                 });
         });
});
function dummy(){}
function initContextMenu(action,el,pos){
                var id = $(el).attr('id').slice(2)
                if (id == 0 ){
                        alert('このカテゴリは削除できません')
                        return
                }
                if( action == 'edit' ){
                        $('#edit_category_name').val($(el).text())
                        $('#edit_category_id').val(id)
                        $.blockUI({ message: $('#edit_category'),css: { top: '40%',width: '400px' } })
                }else if( action=="delete" ) {
                        var url = '/group/delete'
                        if( confirm($(el).text() +'(ID:' + $(el).attr('id')+ ')を本当に削除しますか？') != true ){
                                return;
                        }else{  
                                $.ajax({
                                   type: "POST",
                                   dataType: "json",
                                   url: url,
                                   data: 'id=' + id,
                                   success: function(data){
					loation.reload()
                                   },
                                   error: function(){
                                        alert('delete システムエラー');
                                   }
                                 });
                        }
                }else{  
                        alert(  
                                'Action: ' + action + '\n\n' +
                                'Element ID: ' + $(el).attr('id') + '\n\n' +
                                'X: ' + pos.x + '  Y: ' + pos.y + ' (relative to element)\n\n' +
                                'X: ' + pos.docX + '  Y: ' + pos.docY+ ' (relative to document)'
                        );
                }
        
}
// --></script>
{% endblock %}

{% block search_refinement %}
<div >
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			<a href="#">aaaaa</a><br/>
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
</div>
<br clear="all">
{% endblock %}
{% block _search_refinement %}
<table width="100%" id="search" border="1">
	<thead>
	<tr><th width="33%">項目1</th><th width="33%">項目2</th><th width="33%">項目3</th></tr>
	</thead>
	<tbody>
	<tr>
		<td>
<div style="margin:0;height:100;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			<a href="#">aaaaa</a><br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
		</td>
		<td>値
		</td>
		<td>値
		</td>
	</tr>
	</tbody>
</table>
{% endblock %}
{% block treeview %}
	<ul id="myMenu" class="contextMenu">
		<li class="edit"><a href="#edit">編集</a></li>
		<li class="delete separator"><a href="#delete">削除</a></li>
	</ul>
	<div id="treeviewList">
	<ul id="treeview" class="filetree treeview">
        <li> <span id="category_root" class="folder">カテゴリ</span>
		<ul>
			 <li><span id="category_root_file" class="file">全データ</span></li>
	{% for g in groups %}
			<li id="i_{{g.id}}"><span id="c_{{g.id}}" class="folder">{{ g.name }}</span> 
		{% if g.views %}
			<ul>
			{% for v in g.views %}
				<li id="iv_{{v.id}}"><span id="v_{{v.id}}" class="file"><a href="/?g={{g.id}}&v={{v.id}}">{{v.name}}</a></span></li>
			{% endfor %}
			</ul>
		{% endif %}
		</li>
	{% endfor %}
		</ul>
	</ul>
	</div>
	<div id="edit_category" style="margin:1em;display:none; cursor: default">
		<form id="edit_category_form">
			<input type="hidden" id="edit_category_id" name="edit_category_id" value="">
			<label>カテゴリ名</label><input type="text" name="edit_category_name" id="edit_category_name" value="" size="30">
		<p>
			<input type="button" id="edit_category_submit" value="保存"> - <input type="button" class="close_form" value="閉じる">
		</p>
		</form>
	</div>
{% endblock %}
