{% extends "../standardized.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/flexigrid/flexigrid.css" type="text/css" media="all">
<link type="text/css"  href="/css/jquery.treeview.css" rel="stylesheet" />
<link type="text/css"  href="/css/jquery.contextMenu.css" rel="stylesheet" />
<link type="text/css" href="/css/niceforms/niceforms-default.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="/css/smoothness/jquery-ui-1.7.css" rel="stylesheet" media="screen"/>
<style>
        .flexigrid div.fbutton .add
            {
                background: url(/img/add.png) no-repeat center left;
            }	
    
        .flexigrid div.fbutton .delete
            {
                background: url(/img/close.png) no-repeat center left;
            }	
    
</style>
{% endblock %}
{% block js %}
<script src="/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="/js/ui.datepicker-ja.js"" type="text/javascript"></script>
<script src="/js/jquery.form.js" type="text/javascript"></script>
<script src="/js/flexigrid.pack.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.js" type="text/javascript"></script>
<script src="/js/jquery.treeview.async.js" type="text/javascript"></script>
<script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/nicejforms.js"></script>

<script type="text/javascript"><!--
$(document).ready(function(){
	$("#treeview").load('/groups/treeview',function(){
		$(this).treeview({});
		$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
		$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
	});
	{% if view %}
	$("#flexigrid01").flexigrid({
			url: '/profile/json/' + {{ view.key.id}},
			dataType: 'json',
			procmsg: '読み込んでいます。しばらくお待ちください..',
			pagestat: '全 {total} 件のうち、{from} - {to} 件目を表示中',
			colModel : [
			{% for col in colModels %}
				{display: '{{col.label}}', name : '{{col.name}}', width : {{col.width}}, sortable : true, align: '{{col.align}}'},
			{% endfor %}
				],
			buttons : [
				{name: '追加', bclass: 'add', onpress : newData},
				{name: '削除', bclass: 'delete', onpress : deleteData},
				{separator: true},
				{name: '編集', bclass: 'edit', onpress : editData}
				],
			searchitems : [
				{display: 'ID', name : 'id',is_default: true}{% for item in searchitems %}
					,{display:'{{item.display}}' , name:'{{item.name}}'}{% endfor %}
				],
			sortname: "id",
			sortorder: "asc",
			usepager: true,
			useRp: true,
			rp: 15,
			showTableToggleBtn: true,
			width: 'auto',
			height:'auto' 
	});
	{% endif %}
});
function dummy(){}
function newData() {
	$('#blockui_area').html('');
        {% if view %}
          var url = '/profile/new/' + {{view.key.id}};
	{% else %}
          var url = '/profile/new/';
	{% endif %}
        $('#blockui_area').load(url ,function(text,status){
		$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
		$(".close_form").click(function(){ $.unblockUI(); });
		$('#birthday').datepicker({
			yearRange:'-50:0',
			changeMonth: true,
			changeYear: true
		});
                $('#ui-datepicker-div').css('z-index','2000')
        	$.blockUI({ message: $('#blockui_area'),css: { top: '10%',width: '400px' } })
	});
}
function deleteData(com,grid){if($('.trSelected',grid).length>0){
        var items = $('.trSelected',grid);
        var itemlist = [];
        for(i=0 ; i< items.length ; i++) {
                itemlist.push(items[i].id.substr(3));
        }
	itemlist_s = itemlist.join(',')
	if(confirm('本当に削除しますか？')){
		$.ajax({
		   type: "POST",
		   dataType: "json",
		   url: '/profile/delete/',
		   data: "items="+itemlist_s,
		   success: function(data){
			if( data.status == 'success' ){
				items.fadeOut('slow')
				$("#flexgrid01").flexReload();
			}else{
				alert('削除に失敗しました:' + data.msg);
			}
		   },
		   error: function(){
			alert('システムエラー');
		   }
		 });

	}else{
		alert('削除する項目を選択してください(複数選択可)');
}
}
}
function editData(com,grid) {
	$('#blockui_area').html('');
        var items = $('.trSelected',grid);
        if(items.length != 1){ 
                alert('一つだけ選択してください')
                return false;
        }
        var id = items[0].id.substr(3);
        var url = '/profile/edit/' + id + '?v={{view.key.id}}';
	$('#blockui_area').load(url,function(text,status){
		$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
		$(".close_form").click(function(){ $.unblockUI(); });
		$('#birthday').datepicker({
			yearRange:'-50:0',
			changeMonth: true,
			changeYear: true
		});
                $('#ui-datepicker-div').css('z-index','2000')
	});
	$.blockUI({ message: $('#blockui_area'),css: { top: '10%',width: '400px' } })
}
function initFileContextMenu(action,el,pos){
	var id = $(el).attr('id').slice(2)
	if( action=="delete" ) {
		var url = '/view/delete'
		if( confirm($(el).text() +'を本当に削除しますか？') != true ){
			return;
		}else{  
			$.blockUI({ message: "<b>少々お待ちください...</b>" });
			$.ajax({
			   type: "POST",
			   dataType: "json",
			   url: url,
			   data: 'id=' + id,
			   success: function(data){
                        	$.unblockUI();
				$("#treeview").load('/groups/treeview',function(){
					$(this).treeview({});
					$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
					$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
				});
			   },
			   error: function(){
				alert('delete システムエラー');
			   }
			 });
		}
	}else if( action =="edit"){
   		url = '/view/edit?id=' + id
		$('#blockui_area').html('');
		$('#blockui_area').load(url,function(text,status){
			$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
			$(".close_form").click(function(){ $.unblockUI(); });
			$('#birthday').datepicker();
			$.blockUI({ message: $('#blockui_area'),css: { top: '10%',width: '400px' } })
		});
	}
}
function init_treeview(){
	$("#treeview").load('/groups/treeview',function(){
		$(this).treeview({});
		$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
		$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
	});
}
function submitData(){
	$.blockUI({ message: "<b>少々お待ちください...</b>"});
	$.ajax({
	   type: "POST",
	   dataType: "json",
	   url: $('#action_url').val(),
	   data: $('#blockui_form').serialize(),
	   success: function(data){
		$.unblockUI();
		$("#flexigrid01").flexReload();
	   },
	   error: function(){
		$.unblockUI();
		alert('システムエラー');
	   }
	 });
}
function update_view(){
	$.blockUI({ message: "<b>少々お待ちください...</b>" });
	$.ajax({
	   async:false,
	   type: "POST",
	   url: '/view/update',
	   data: $('#blockui_form').serialize(),
	   success: function(data){
		$('#blockui_form').html(data)
		$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
		$.blockUI({ message: $('#blockui_area'),css: { top: '10%',width: '400px' } })
		$(".close_form").click(function(){ location.reload();$.unblockUI();});
		//init_treeview()
	   },
	   error: function(){
		alert('update システムエラー');
	   }
	});
}
function update_user_db(){
	$.blockUI({ message: "<b>少々お待ちください...</b>" });
	$.ajax({
	   type: "POST",
	   dataType: "json",
	   url: '/groups/update',
	   data: 'id='+$('#edit_category_id').val() +  '&name=' + $('#edit_category_name').val(),
	   success: function(data){
		$.unblockUI();
		init_treeview()
	   },
	   error: function(){
		alert('update システムエラー');
	   }
	});
}
function initContextMenu(action,el,pos){
                var id = $(el).attr('id').slice(2)
                if( action == 'addview' ){
			$.blockUI({ message: "<b>少々お待ちください...</b>" });
			$.ajax({
			   type: "POST",
			   dataType: "json",
			   url: '/view/create',
			   data: 'db_id='+ id,
			   success: function(data){
				if( data.status == 'error' ){
					alert(data.msg);
				}
				$.unblockUI();
				if( data.status == 'success' ){
					init_treeview();
				}
			   },
			   error: function(data){
				alert('system error');
				$.unblockUI();
			  }
			 });
                }else if( action == 'edit' ){
                        var url = '/groups/edit?id='+id
			$('#blockui_form').load(url,function(text,status){
				$.NiceJForms.build({ imagesPath:"/css/niceforms/images/default/" })
				$(".close_form").click(function(){ $.unblockUI(); });
			});
			$.blockUI({ message: $('#blockui_area'),css: { top: '10%',width: '400px' } })
                }else if( action=="delete" ) {
                        var url = '/groups/delete'
                        if( confirm($(el).text() +'(ID:' + $(el).attr('id')+ ')を本当に削除しますか？') != true ){
                                return;
                        }else{  
				$.blockUI({ message: "<b>少々お待ちください...</b>" });
                                $.ajax({
                                   type: "POST",
                                   dataType: "json",
                                   url: url,
                                   data: 'id=' + id,
                                   success: function(data){
					$.unblockUI();
					$("#treeview").load('/groups/treeview',function(){
						$(this).treeview({});
						$(".folder").contextMenu({ menu: 'myMenu' }, function(action,el,pos){initContextMenu(action, el, pos)});
						$(".file").contextMenu({ menu: 'myFileMenu' }, function(action,el,pos){initFileContextMenu(action, el, pos)});
					});
                                   },
                                   error: function(){
                                        alert('delete システムエラー');
                                   }
                                 });
                        }
                }else{  
                        alert(  
                                'Action: ' + action + '\n\n' +
                                'Element ID: ' + $(el).attr('id') + '\n\n' +
                                'X: ' + pos.x + '  Y: ' + pos.y + ' (relative to element)\n\n' +
                                'X: ' + pos.docX + '  Y: ' + pos.docY+ ' (relative to document)'
                        );
                }
        
}
// --></script>
{% endblock %}

{% block search_refinement %}
{% if view %}
<h3>{{view.user_db_id.name}} &gt; {{view.name}}</h3>
<form>
<div style="float:left;width:33%">
	<label>項目１</label><br/>
	<select style="width:100%">
			<option>11111111111111</option>
			<option>22222222222222</option>
			<option>2222222222222</option>
			<option>22222222222223</option>
			<option>22222222222223</option>
	</select>
</div>
<div style="float:left;width:33%">
	<label>項目１</label><br/>
	<select style="width:100%">
			<option>11111111111111</option>
			<option>22222222222222</option>
			<option>2222222222222</option>
			<option>22222222222223</option>
			<option>22222222222223</option>
	</select>
</div>
<div style="float:left;width:33%">
	<label>項目１</label><br/>
	<select style="width:100%">
			<option>11111111111111</option>
			<option>22222222222222</option>
			<option>2222222222222</option>
			<option>22222222222223</option>
			<option>22222222222223</option>
	</select>
</div>
</form>
<!--
<div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			<a href="#">aaaaa</a><br/>
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
<div style="margin:0;width:32%;height:150px;float:left;border:solid ;overflow:auto">
			11111111111111<br/>
			22222222222222<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
			22222222222223<br/>
</div>
</div>
-->
<br clear="all">
{% else %}
	{% include "greeting.html"  %}
{% endif %}
{% endblock %}

{% block treeview %}
	<ul id="myFileMenu" class="contextMenu">
		<li class="edit separator"><a href="#edit">編集</a></li>
		<li class="delete"><a href="#delete">削除</a></li>
	</ul>
	<ul id="myMenu" class="contextMenu">
		<li class="add"><a href="#addview">ビューの追加</a></li>
		<li class="edit separator"><a href="#edit">編集</a></li>
		<li class="delete"><a href="#delete">削除</a></li>
	</ul>
	<ul id="treeview" class="filetree treeview"></ul>
	<div id="blockui_area" style="margin:1em;display:none; cursor: default"></div>
{% endblock %}
