<form id="blockui_form" class="niceform" >
  <input type="hidden" id="edit_db_id" name="edit_db_id" value="{{user_db.key.id}}">
<table>
<tr>
<td valign="top">
	<table>
	<tr>
		<td> <label for="text">公開:</label> </td>
		<td align="left"> 
		    <select name="iq_open" size="1" id="iq_open" class="" style="border:solid 1px #bbbbbb">
                                <option class="" style="width:100px" value="no"></option>
                                <option class="" style="width:100px" value="no">未公開</option>
                                <option class="" style="width:100px" value="yes">公開</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td> <label for="text">データベース名:</label> </td>
		<td align="left"> <input type="text" name="edit_db_name" id="edit_db_name" value="{{user_db.name}}" size="35"> </td>
	</tr>
	<tr>
		<td> <label for="text">通知先(E-Mail):</label> </td>
		<td align="left"> <input type="text" name="recipients" id="recipients" value="{{config.recipients}}" size="35"> </td>
	</tr>
	<tr>
		<td valign="top" align="left"><label for="text">固定項目</label></td>
		<td align="left"><font size="-3">固定項目は必須の入力項目です</font><br />
		{% for col in config.form_config %}{% ifequal col.form 'must' %}
				<div class="dummy"></div><label for="check_{{col.name}}">{{col.label}}</label><br clear="all">
		{% endifequal %}{% endfor %}
		</td>
	</tr>
	</table>
</td>
<td valign="top">
	<table>
	<tr>
		<td valign="top" align="left"><label for="text">オプション項目</label></td>
		<td align="left"><font size="-3">使用する項目にチェックを付けてください</font><br />
		{% for col in config.form_config %}{% ifequal col.form 'option' %}
				<input type="checkbox" name="disp_{{col.name}}" id="disp_{{col.name}}" value="yes" {{col.checked}}>
				<label for="check_{{col.name}}">{{col.label}}</label><br clear="all">
		{% endifequal %}{% endfor %}
		</td>
	</tr>
	</table>
</td>
</tr>
</table>
	<input type="button" id="submit_blockui_form" value="保存" onclick="update_inquiry_user_db();return false"> -
	<input type="button" class="close_form" onclick="$.unblockUI()" value="閉じる">
</form>
