        {% for udb in user_dbs %}
                <li id="udb_{{udb.db.key.id}}"><span id="d_{{udb.db.key.id}}" class="{% ifequal udb.db.service_type 'c' %}door{% else %}folder{% endifequal %}">{{ udb.db.name }}</span>
                {% if udb.views %}
                        <ul>
                        {% for v in udb.views %}
                                <li id="v_{{v.key.id}}">
					<span id="f_{{v.key.id}}" class="{% ifequal v.user_db.service_type 'c' %}inquiry_view{% else %}file{% endifequal %}">
						<a href="javascript:void(0)" onclick="changeView('{{v.key.id}}')">{{v.name}}</a>
					</span>
				</li>
                        {% endfor %}
                        </ul>
                {% endif %}
                </li>
        {% endfor %}
