{% extends "../moview.html" %}
{% block stylesheets %}
<link href="/css/moview_list.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block menu %}
	<a href="/welcome/help">【ヘルプ】</a>　　<a href="/contact">【お問い合わせ】</a>　　<a href="/logout">【ログアウト】</a>
{% endblock %}
{% block header_box_2 %}
	<div class="header_box_2"> こんにちは　{{profile.organization}}さん</div>
{% endblock %}
{% block bread_crumbs %}
{{ bread_clumbs }}
{% endblock %}

{% block js %}
<SCRIPT language="JavaScript"> <!--
var products = new Array()
{% for p in products %}
products.push({ 'id':'{{p.key.id}}','title':'{{p.title}}' ,'thumbnail_filename':'{{p.thumbnail_filename}}','company':'{{p.author}}','release_date':'{{p.released_at|timeJST|date:"Y/m/d"}}','description':'{{p.description}}'})
{% endfor %}

function DetailOn(idx) {
	var objid=document.getElementById('detail_title');
	objid.innerHTML = products[idx].title
	objid=document.getElementById('detail_company');
	objid.innerHTML = products[idx].company
	objid=document.getElementById('detail_release_date');
	objid.innerHTML = products[idx].release_date
	objid=document.getElementById('detail_description');
	objid.innerHTML = products[idx].description
}
// --></SCRIPT>
{% endblock %}

{% block page %}
<!-- start sidebar1 -->
<div class="main_box_1">    
	<div class="box_title_1">視聴可能パッケージ一覧</div>
          <div class="sub_menu_1"> <a href="/showcase">・全てを表示</a></div>
	  {% for p in packages %}
		<div class="sub_menu_1"><a href="/showcase/?p={{p.code}}" title="{{p.name}}"> ・{{p.name}}</a></div>
	  {% endfor %}
	  
	<div class="box_title_1">カテゴリー</div>
          <div class="sub_menu_1"> <a href="/showcase">・全てを表示</a></div>
	  {% for genre in genres %}
		<div class="sub_menu_1"><a href="/showcase/?g={{genre.genre_code}}" title="{{genre.name}}">・{{genre.name}}</a></div>
	  {% endfor %}
	</div>
	<div class="main_box_4">
	    <div class="box_title_4"> 視聴可能動画一覧</a></div>
	    <div class="textbox_2">
	      <div class="movie_list_2" style="overflow:auto;height:140px">
		<div class="movie_box_area2"">
			<SCRIPT language="JavaScript"> <!--

			for( i = 0 ; i < products.length ; i++ ){
                          img = '<img id="thumbnail_' + products[i].id + '" src="/product/thumbnail/' + products[i].id + '/' + products[i].thumbnail_filename + '" alt="' + products[i].title + '"  width="80" height="60" border="0" >'
			  document.write('<div class="movie_box_1">');
			  document.write('  <div class="movie_box_sn"><a onMouseOver="DetailOn(\''+ i + '\')" href="/product/show/' + products[i].id + '">'+ img +'</a></div>')
			  document.write('  <div class="movie_box_txt"><a href="playmovie.html" target="_top">')
				  document.write(products[i].title)
				  document.write('</a></div>')
			  document.write('</div>')
			}

			//--></SCRIPT>
		</div>
      </div>
</div>

	    <div class="textbox_1">
		<div class="listbox_v1">
			<div class="listbox_va1">タイトル</div><div class="listbox_vb1" id="detail_title">&nbsp;</div>
		</div>
		<div class="listbox_v1">
			<div class="listbox_va1">発行日</div><div class="listbox_vb1" id="detail_release_date">&nbsp;</div>
		<div>
		<div class="listbox_v1">
			<div class="listbox_va1">配給会社</div> <div class="listbox_vb1" id="detail_company">&nbsp;</div>
		</div>
		<div class="listbox_v2">
			<div class="listbox_va1">内容</div><div class="listbox_vb1" id="detail_description">&nbsp;</div>
		</div>
	    </div>
	</div>
</div> 
</div>
<!--中央ビデオリスト：終了 -->	
{% endblock %}
