<input type="hidden" id="profile_id" name="profile_id" value="">
<input type="hidden" id="action_url" name="action_url" value="">
<table>
<tr>
	<th>会社/団体名</th>
	<td align="left">
		<input type="text" id="organization" name="organization" value="" size="30">
	</td>
</tr>
<tr>
	<th>所属部署</th>
	<td align="left">
		<input type="text" id="section" name="section" value="" size="30">
	</td>
</tr>
<tr>
	<th>担当者</th>
	<td align="left">
		姓<input type="text" id="last_name" name="last_name" value="" size="15">
		名<input type="text" id="first_name" name="first_name" value="" size="15">
	</td>
</tr>
<tr><th>役職</th><td><input type="text" id="title" name="title" value="" size="15">
<tr>
	<th>電話番号</th>
	<td><input type="text" id="tel_no" name="tel_no" value="" size="30">
</tr>
<tr>
	<th>メールアドレス</th>
	<td><input type="text" id="email" name="email" value="" size="30">
</tr>
<tr>
	<th>CLAIMED ID</th>
	<td><input type="text" id="claimed_id" name="claimed_id" value="" size="60">
</tr>
</table>
