/*
* 									{ margin: 0; padding: 0; } //body								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
p                                   { margin: 15px 0; }
*/
ul { list-style: none; }
a  { text-decoration: none; }

/* 
	LEVEL ONE
*/
ul.dropdown                         {
	background:transparent url(/img/wbg.gif) repeat-x scroll 0 0;
	border-color:#A5AFB8 #70777D #70777D #A5AFB8;
	border-style:solid;
	border-width:1px;
	clear:both;
	height:19px;
}
ul.dropdown li { 
	float: left; 
	zoom: 1; 
	color:#FFFFFF;
	cursor:pointer;
	font-family:Tahoma,sans-serif;
	font-size:11px;
	padding:2px 6px 4px;
	white-space:nowrap;
}
ul.dropdown a:hover		    { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { 
	padding:0px 6px 4px;
	border-right: 0px solid #333; 
	color: #000; 
}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { 
	position: relative; 
        padding-left: 5px;
	padding-bottom: 0px;
        border-left: 1px solid #ABB5BC;
        padding-right: 5px;
        border-right: 1px solid #929AA1;
        border-right: 1px solid #70777D;
        color: #FFF;
        background: url(/img/jdMenu/gradient.png) repeat-x
}
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ 
	width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; 
}
ul.dropdown ul li { 
	font-weight: normal; 
        background: url(/img/wbg.gif) repeat-x;
	color: #000; 
	border-bottom: 0px solid #558800; 
	padding-bottom:2px;
	float: none; 
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }
