{% extends '../openid.html' %}
{% block openid_server %}
{% endblock %}
{% block x_xrds_location %}
{% endblock %}
{% block message %}
<!-- decidepage 2 -->
<p>
この外部サービスを利用するには以下の情報を外部サービスに提供することになります。以下の注意事項をご確認い>ただき、いずれかのボタンを押してください。
</p>
<table> 
<tr> 
        <td>サービスのURL</td><td>{{trust_root}}</td>
</tr>         
<tr> 
        <td>あなたのOpenID </td><td>{{identity}}</td>
</tr>
</table>
<p>
            <form method="POST" action="/oid/allow">
              <input type="checkbox" id="remember" name="remember" value="yes"
                  /><label for="remember">次回から自動ログイン</label><br />
              <input type="submit" name="yes" value="ログイン" />
              <input type="submit" name="no" value="キャンセル" />
            </form>
</p>
{% endblock %}
