{% extends "../moview.html" %}
{% block js %}
{% endblock %}
{% block menu %}
<a href="/welcome/help">【ヘルプ】</a>　　<a href="/contact">【お問い合わせ】</a>　　<a href="/logout">【ログアウト】</a>
{% endblock %}
{% block header_box_2 %}
<div class="header_box_2"> こんにちは　{{profile.organization}}さん</div>
{% endblock %}
{% block bread_crumbs %}
ムービー再生
{% endblock %}

{% block page %}
  <div class="movie_play">
    <div class="box_title_5">{{ product.title }}</div>
  </div>
  <div class="movie_play" id="mediaplayer"></div>
  <script type="text/javascript" src="/js/swfobject.js"></script>
  <script type="text/javascript">
		var s1 = new SWFObject("/player/player.swf","ply","720","500","9","#FFFFFF");
		s1.addParam("allowfullscreen","true");
		s1.addParam("allowscriptaccess","always");
		s1.addParam("flashvars","file={{product.filename}}");
		s1.write("mediaplayer");
  </script>

{% endblock %}
