<h4>ビュー設定</h4>
<form id="blockui_form" class="niceform" >
	<input type="hidden" name="action_url" id="action_url" value="/view/update">
	<input type="hidden" name="edit_view_id" id="edit_view_id" value="{{view.key.id}}">
	<table>
	<tr>
		<td><label for="text">ビュー名</label></td>
		<td><input type="text" name="view_name" value="{{view.name}}"size="20"></td>
	</tr>
	<tr>
		<td valign="top" align="left"><label for="text">項目</label></td>
		<td align="left"><font size="-3">使用する項目にチェックを付けてください</font><br />
		{% for col in config %}{% ifnotequal col.type 'hidden' %}
				<input type="checkbox" name="disp_{{col.name}}" id="disp_{{col.name}}" value="yes" {{col.checked}}>
				<label for="check_{{col.name}}">{{col.label}}</label><br clear="all">
		{% endifnotequal %}{% endfor %}
		</td>
	</tr>
	</table>
	<input type="button" id="submit_blockui_form" value="保存" onclick="update_view();return false"> -
	<!-- input type="submit" id="submit_blockui_form" value="保存" > - -->
	<input type="button" class="close_form" onclick="$.unblockUI()" value="閉じる">
</form>
