<form id="upload_form" method="POST" action="/view/import_csv" class="niceform" enctype="multipart/form-data">
	<input type="hidden" name="edit_view_id" id="edit_view_id" value="{{view.key.id}}">
	<p>ビュー名:{{view.name}}</p>
	<p style="color:red">注：CSVファイルのインポートを行うとサーバのデータは<br />全てクリアされます。</p>
	<br/>
	<div style="margin-left:90px"><p>
		<input type="file" name="file" id="file" size="45" >
	</p></div>
	<p>
	</p>
	<input type="submit" id="submit_blockui_form" onclick="upload_csv()" value="アップロード" > -
	<input type="button" class="close_form" onclick="$.unblockUI()" value="閉じる">
</form>
