<p>この内容で送信します。よろしいでしょうか？</p>
<form id="contact_form">
        <input type="hidden" name="ticket"   id="ticket"  value="{{ticket}}">
        <input type="hidden" name="session_val"   id="session_val"  value="{{session_val}}">
<table id="inquiryTable">
{% for f in form_fields %}
<tr>
	<th align="left" width="30%">{{ f.label }}</th>
	<td align="left" width="70%">{{ f.val|pre2markup}}<input type="hidden" name="{{f.name}}" value="{% if f.code %}{{f.code}}{% else %}{{f.val}}{% endif %}"></td>
</tr>
{% endfor %}
</table>
<div id="formBottomNavi">
	<input type="button" onclick="submitData('{{action_url}}');return false" value="送信">&nbsp;&nbsp;&nbsp;
	<input type="button" onclick="submitData('{{base_url}}contact/form/{{udb.key}}');return false" value="やり直し">
</div>
</form>
