{% block content %}
<div id="container">
<form id="contact_form" class="niceform" >
	<input type="hidden" name="action_url"   id="action_url"  value="{{action_url}}">
	<fieldset>
		<legend>お問い合せ</legend>
		{% for f in fields %}
		<dl>
			<dt><label>{{ f.label }}</label></dt>
			<dd>
			{% ifequal f.type 'text' %}
				<input type="text" name="{{f.name}}" id="{{f.name}}" value="{{f.val}}" size="25">
			{% endifequal %}
			{% ifequal f.type 'date' %}
				<input type="text" name="{{f.name}}" id="{{f.name}}" value="{{f.val}}" size="15">
			{% endifequal %}
			{% ifequal f.type 'radio' %}
				{% for item in f.items %}
					<input type="radio" id="{{f.name}}_{{item.code}}" name="{{ f.name }}" value="{{item.code}}" {{item.checked}}>
					<label for="{{f.name}}_{{item.code}}">{{item.name}}</label><br/>
				{% endfor %}
			{% endifequal %}
			{% ifequal f.type 'select' %}
				<select name="{{f.name}}" size="1" id="{{f.name}}" class="" style="border:solid 1px #bbbbbb">
				<option value="" class="" style="width:100px"></option>
				{% for item in f.items %}
					<option value="{{item.code}}" style="padding-left:0.3em" {{item.selected}}><font color="#999999">{{item.name}}</font></option>
				{% endfor %}
				</select>
			{% endifequal %}
			</dd>
		</dl>
		{% endfor %}
		<dl>
			<dt><label for="inquiry_content">お問い合わせ内容</label></dt>
			<dd><textarea id="inquiry_content" name="inquiry_content" cols="60" rows="10"></textarea></dd>
		</dl>
	</fieldset>
	<fieldset class="action">
	<input type="button" id="block_ui_form_submit" value="確認" onclick="confirmData();return false">
	</fieldset>
</form>
</div>
{% endblock %}
