<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>ESTATE-PROTOTYPE &gt; {{udb.name }}&gt; プレビュー</title>
<style type="text/css">
#container {
        margin:0 auto;
        width:750px;
	font-size:12px;
}
#footer {
        text-align:right;
}
</style>
</head>
<body>
<div id="container">
<h2 style="margin:0px">ESTATE-PROTOTYPE &gt; {{udb.name }}&gt; プレビュー</h2>

<h3>お問い合わせ</h3>
<iframe marginheight="0" marginwidth="0" src="{{base_url}}contact/form/{{udb.key.id}}" scrolling="no" width="750" frameborder="0" height="600"></iframe>

<div id="footer">
	<p>Copyright &copy; 2009 <a href="http://kenkoude-it.appspot.com/">健康deねっと IT事業部</a></p>
</div>
</div><!-- end of container -->
<div id="blockui_area" style="margin:1em;display:none; cursor: default">
	<form id="blockui_form" class="" >
		<input type="hidden" name="action_url" id="action_url" value="">
	</form>
</div>
</body>
</html>
{% block form_area %}
{% endblock %}
